<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name></display-name>
	<servlet>
		<servlet-name>NewsServlet</servlet-name>
		<servlet-class>com.servlet.NewsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CheckManServlet</servlet-name>
		<servlet-class>com.servlet.CheckManServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TypeServlet</servlet-name>
		<servlet-class>com.servlet.TypeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TravelServlet</servlet-name>
		<servlet-class>com.servlet.TravelServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ContractBrowseServlet</servlet-name>
		<servlet-class>com.servlet.ContractBrowseServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ReimbursementServlet</servlet-name>
		<servlet-class>com.servlet.ReimbursementServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReimbursementTypeServlet</servlet-name>
		<servlet-class>com.servlet.ReimbursementTypeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ApplyFeeServlet</servlet-name>
		<servlet-class>com.servlet.ApplyFeeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AuditTypeServlet</servlet-name>
		<servlet-class>com.servlet.AuditTypeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CheckInfoServlet</servlet-name>
		<servlet-class>com.servlet.CheckInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogLet</servlet-name>
		<servlet-class>com.servlet.LogLet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ApplyFeeTypeServlet</servlet-name>
		<servlet-class>com.servlet.ApplyFeeTypeServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ShenPiAuthorityServlet</servlet-name>
		<servlet-class>com.servlet.ShenPiAuthorityServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QueryInfoServlet</servlet-name>
		<servlet-class>com.servlet.QueryInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AuthorityServlet</servlet-name>
		<servlet-class>com.servlet.AuthorityServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QueryAuthority</servlet-name>
		<servlet-class>com.servlet.QueryAuthority</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QueryDetailServlet</servlet-name>
		<servlet-class>com.servlet.QueryDetailServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CheckDetailServlet</servlet-name>
		<servlet-class>com.servlet.CheckDetailServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AuditServlet</servlet-name>
		<servlet-class>com.servlet.AuditServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SpinnerInfoServlet</servlet-name>
		<servlet-class>com.servlet.SpinnerInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ContractServlet</servlet-name>
		<servlet-class>com.servlet.ContractServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ContractInfoServlet</servlet-name>
		<servlet-class>com.servlet.ContractInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ContractListServlet</servlet-name>
		<servlet-class>com.servlet.ContractListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QualitySpinnerServlet</servlet-name>
		<servlet-class>com.servlet.QualitySpinnerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QualityServlet</servlet-name>
		<servlet-class>com.servlet.QualityServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QualitProcessInfo</servlet-name>
		<servlet-class>com.servlet.QualitProcessInfo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QualityDetailServlet</servlet-name>
		<servlet-class>com.servlet.QualityDetailServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WorkJournalServlet</servlet-name>
		<servlet-class>com.servlet.WorkJournalServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WorkJournalQueryServlet</servlet-name>
		<servlet-class>com.servlet.WorkJournalQueryServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ContractApply</servlet-name>
		<servlet-class>com.servlet.ContractApply</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ContractSubmitServlet</servlet-name>
		<servlet-class>com.servlet.ContractSubmitServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ContractConfirm</servlet-name>
		<servlet-class>com.servlet.ContractConfirm</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ContractListServlet2</servlet-name>
		<servlet-class>com.servlet.ContractListServlet2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PaiChanServlet</servlet-name>
		<servlet-class>com.servlet.PaiChanServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PaichanInfoServlet</servlet-name>
		<servlet-class>com.servlet.PaichanInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PaichanConfirm</servlet-name>
		<servlet-class>com.servlet.PaichanConfirm</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ContractPaichanSubmit</servlet-name>
		<servlet-class>com.servlet.ContractPaichanSubmit</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ApkInfoServlet</servlet-name>
		<servlet-class>com.servlet.ApkInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModifyPsw</servlet-name>
		<servlet-class>com.servlet.ModifyPsw</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>QualityDetailServlet2</servlet-name>
		<servlet-class>com.servlet.QualityDetailServlet2</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>CompleteCarServlet</servlet-name>
		<servlet-class>com.servlet.CompleteCarServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoadFileServlet</servlet-name>
		<servlet-class>com.servlet.LoadFileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoadFileServlet</servlet-name>
		<url-pattern>/LoadFileServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>CompleteCarServlet</servlet-name>
		<url-pattern>/CompleteCarServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QualityDetailServlet2</servlet-name>
		<url-pattern>/QualityDetailServlet2</url-pattern>
	</servlet-mapping>
	
	
	
	
	
<servlet-mapping>
		<servlet-name>ModifyPsw</servlet-name>
		<url-pattern>/ModifyPsw</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>ApkInfoServlet</servlet-name>
		<url-pattern>/ApkInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PaichanConfirm</servlet-name>
		<url-pattern>/PaichanConfirm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContractPaichanSubmit</servlet-name>
		<url-pattern>/ContractPaichanSubmit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PaichanInfoServlet</servlet-name>
		<url-pattern>/PaichanInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PaiChanServlet</servlet-name>
		<url-pattern>/PaiChanServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContractListServlet2</servlet-name>
		<url-pattern>/ContractListServlet2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContractConfirm</servlet-name>
		<url-pattern>/ContractConfirm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContractBrowseServlet</servlet-name>
		<url-pattern>/ContractBrowseServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContractSubmitServlet</servlet-name>
		<url-pattern>/ContractSubmitServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContractApply</servlet-name>
		<url-pattern>/ContractApply</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>WorkJournalQueryServlet</servlet-name>
		<url-pattern>/WorkJournalQueryServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WorkJournalServlet</servlet-name>
		<url-pattern>/WorkJournalServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QualityDetailServlet</servlet-name>
		<url-pattern>/QualityDetailServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QualitProcessInfo</servlet-name>
		<url-pattern>/QualitProcessInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QualityServlet</servlet-name>
		<url-pattern>/QualityServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QualitySpinnerServlet</servlet-name>
		<url-pattern>/QualitySpinnerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContractListServlet</servlet-name>
		<url-pattern>/ContractListServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContractInfoServlet</servlet-name>
		<url-pattern>/ContractInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContractServlet</servlet-name>
		<url-pattern>/ContractServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SpinnerInfoServlet</servlet-name>
		<url-pattern>/SpinnerInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AuditServlet</servlet-name>
		<url-pattern>/AuditServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckDetailServlet</servlet-name>
		<url-pattern>/CheckDetailServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckInfoServlet</servlet-name>
		<url-pattern>/CheckInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QueryDetailServlet</servlet-name>
		<url-pattern>/QueryDetailServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QueryAuthority</servlet-name>
		<url-pattern>/QueryAuthority</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QueryInfoServlet</servlet-name>
		<url-pattern>/QueryInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ApplyFeeTypeServlet</servlet-name>
		<url-pattern>/ApplyFeeTypeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReimbursementTypeServlet</servlet-name>
		<url-pattern>/ReimbursementTypeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReimbursementServlet</servlet-name>
		<url-pattern>/ReimbursementServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>NewsServlet</servlet-name>
		<url-pattern>/NewsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ApplyFeeServlet</servlet-name>
		<url-pattern>/ApplyFeeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AuditTypeServlet</servlet-name>
		<url-pattern>/AuditTypeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckManServlet</servlet-name>
		<url-pattern>/CheckManServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogLet</servlet-name>
		<url-pattern>/LogLet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShenPiAuthorityServlet</servlet-name>
		<url-pattern>/ShenPiAuthorityServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AuthorityServlet</servlet-name>
		<url-pattern>/AuthorityServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TypeServlet</servlet-name>
		<url-pattern>/TypeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TravelServlet</servlet-name>
		<url-pattern>/TravelServlet</url-pattern>
	</servlet-mapping>


</web-app>
